<div class="container-fluid m-0 p-0">
  <div class="row m-0 p-0">
    <div class="col-md m-0 p-0">
      <a href="https://www.facebook.com/ida.berneryd">
        <div class="parent">
          <img src="src/images/facebook.jpg" class="image1 img-fluid" style="overflow: hidden;">
          <img class="image2" src="src/images/facebook-logo.png" style="height: 50px;">
        </div>
      </a>
    </div>
    <div class="col-md m-0 p-0">
        <a href="https://www.instagram.com/berneryd">
          <div class="parent">
            <img src="src/images/facebook.jpg" class="image1 img-fluid" style="overflow: hidden;">
            <img class="image2" src="src/images/instagram-logo.png" style="height: 50px;">
          </div>
        </a>
      </div>
  </div>
</div>
<div style="height: 30px; background: white;"></div>