img:hover{
    filter: hue-rotate(180deg);
    -webkit-filter: hue-rotate(180deg);
    transform: scale(1.1);
}

.parent {
    padding: 20px;
    position: relative;
    top: 0;
    left: 0;
}

.image {
    margin: auto;
    display: block;
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));      
    filter: drop-shadow(5px 5px 4px rgba(0,0,0,0.5));  
}

@media only screen and (max-width: 600px){
    .parent {
        height: 130px;
        overflow: hidden;
    }

}
