<div class="container-fluid m-0 p-0">
  <div class="row m-0 p-0">
    <div class="col-6 m-0 p-0">
      <a href="https://www.facebook.com/ida.berneryd">
        <div class="parent">
          <img class="image" src="src/images/facebook-logo.png" style="height: 80px;">
        </div>
      </a>
    </div>
    <div class="col-6 m-0 p-0">
        <a href="https://www.instagram.com/berneryd">
          <div class="parent">
            <img class="image" src="src/images/instagram-logo.png" style="height: 80px;">
          </div>
        </a>
      </div>
  </div>
</div>