<div class="footer" id="contact">
  <app-links></app-links>

  <div class="container-fluid m-0 p-5" id="contact-section">
    <div class="row">
      <div class="col-md">
        <div id="address" style="text-align: center;">
          <h1>Kontakt</h1>
          <p>
            Ida Berneryd Tattoo
          </p>
          <p>
            Chalmersgatan 19B
          </p>
          <p>
            Göteborg
          </p>
        </div>
      </div>
      <div class="col-md">
        <img src="src/images/map_tmp.jpg" class="img-fluid">
      </div>
    </div>
  </div>

  <div class="container-fluid p-3" style="background: white;">
    <p style="text-align: center">© Ida Berneryd</p>
  </div>
</div>