@import url('https://fonts.googleapis.com/css?family=Kanit|Montserrat');

.navbar-brand{
    color: rgba(255, 255, 255) !important;
} 
a{
    color: rgba(255, 255, 255, 0.5) !important;
}
 .navbar{
    font-family: 'Kanit', sans-serif;
    align-items: unset !important;
    height: 55px;
}
.nav-item{
    font-family: 'Kanit', sans-serif;
} 
.navbar-collapse {
    background: #343a40;
    padding-left: 10px;
 }